.container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.Coming_Soon{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-45%, -50%);
}

.Coming_Soon h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;0000000000000000000000
}

.ball{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
	animation: move1 2s linear infinite;
}

.ball:nth-child(1){
	background: #4285f4;
	animation-delay: 0s;
}

.ball:nth-child(2){
	background: #ea4335;
	animation-delay: 0.25s;
}

.ball:nth-child(3){
	background: #fbbc05;
	animation-delay: 0.5s;
}

.ball:nth-child(4){
	animation-delay: 0.75s;
	background: #34a853;
}


@keyframes move1{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
}

